# Enunciado
Realizando a coleta de dados estruturados a partir de uma lista de dados que contém uma pesquisa sobre preferências pessoais.
O arquivo contém uma pesquisa fictícia na qual um grupo de pessoas informou suas preferências pessoais sobre os assuntos: Clima, Bebida, Hobbie e Animal de estimação.
Os dados da pesquisa estão disponíveis através de datas de coleta. Dessa forma, cada dia coletado terá informações baseadas naquela amostra.

# Criando um ambiente virtual python para o projeto e ativando kernel pelo prompt

virtualenv -p python3 trabalho_praticoI

trabalho_praticoI\Scripts\activate.bat

ipython kernel install --name trabalho_praticoI --user

# Realizando coleta de dados em arquivos csv utilizando linguagem python;

In [5]:
# Importando os pacotes necessários
import pandas as pd
import os

In [6]:
# Definindo o caminho os estão os arquivos
DIRETORIO = 'C:\\Users\\thiag\\Documents\\Bootcamp Online IGTI\\Módulo 2\\Material Complementar\\Trabalho Prático\\base_trabalho_pratico'
DIRETORIO

'C:\\Users\\thiag\\Documents\\Bootcamp Online IGTI\\Módulo 2\\Material Complementar\\Trabalho Prático\\base_trabalho_pratico'

In [7]:
# Criando uma lista com o nome de todos os arquivos que estão no DIRETORIO
lista_df = []
lista_path = os.listdir(DIRETORIO)
lista_path[:5]

['2020-01-01.csv',
 '2020-01-02.csv',
 '2020-01-03.csv',
 '2020-01-04.csv',
 '2020-01-05.csv']

In [8]:
# Abrindo cada arquivo e coletando os dados
lista_df = []
for arquivo in lista_path:
    local_arquivo = os.path.join(DIRETORIO, arquivo)
    df = pd.read_csv(local_arquivo, sep = "|", encoding='latin-1')
    lista_df.append(df)
df_pref = pd.concat(lista_df)

In [24]:
# Renomeando a coluna data_coleta
df_pref = df_pref.rename(columns={'data_coleta' : 'data_pesquisa'})

In [25]:
df_pref[:10]

,cod_pessoa,data_pesquisa,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141743,2020-01-01,Masculino,1981-04-25,peixe,frio,Cerveja,Praticar esporte
1,10141860,2020-01-01,Feminino,1966-01-19,peixe,quente,Café,Assistir TV
2,10142548,2020-01-01,Masculino,1973-08-02,tartaruga,frio,Café,Ler livros
3,10142591,2020-01-01,Masculino,1997-03-05,gato,moderado,Cerveja,Aprender algo novo
4,10142654,2020-01-01,Feminino,1969-08-05,tartaruga,moderado,Café,Assistir TV
0,10141523,2020-01-02,Feminino,1998-09-24,gato,quente,Cerveja,Aprender algo novo
1,10141996,2020-01-02,Feminino,1973-03-13,tartaruga,quente,refrigerante,Escrever
2,10142089,2020-01-02,Feminino,1970-03-23,gato,moderado,Água,Pintar quadros
3,10142145,2020-01-02,Masculino,1998-08-01,peixe,frio,refrigerante,Escrever
4,10142520,2020-01-02,Masculino,1994-05-09,peixe,moderado,Café,Praticar esporte

In [26]:
# Exportando os dados coletados para arquivo CSV
df_pref.to_csv(DIRETORIO + 'pesquisa_agrupada.csv', sep = "|", encoding = 'latin-1', index=False)

# Criando a estrutura de tabelas no banco de dados MySQL através do Workbench;

-- MySQL Script generated by MySQL Workbench
-- Tue Mar 23 21:44:10 2021
-- Model: New Model    Version: 1.0
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema trabalho_praticoi
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema trabalho_praticoi
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `trabalho_praticoi` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
USE `trabalho_praticoi` ;

-- -----------------------------------------------------
-- Table `trabalho_praticoi`.`pessoa`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `trabalho_praticoi`.`pessoa` (
  `cod_pessoa` INT NOT NULL,
  `genero` VARCHAR(45) NULL,
  `data_nascimento` DATE NULL,
  PRIMARY KEY (`cod_pessoa`),
  UNIQUE INDEX `cod_pessoa_UNIQUE` (`cod_pessoa` ASC) VISIBLE)
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `trabalho_praticoi`.`animal_estimacao`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `trabalho_praticoi`.`animal_estimacao` (
  `cod_animal_estimacao` INT NOT NULL AUTO_INCREMENT,
  `animal` VARCHAR(45) NULL,
  PRIMARY KEY (`cod_animal_estimacao`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `trabalho_praticoi`.`clima`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `trabalho_praticoi`.`clima` (
  `cod_clima` INT NOT NULL AUTO_INCREMENT,
  `clima` VARCHAR(45) NULL,
  `pesquisa_cod_pesquisa` INT NOT NULL,
  PRIMARY KEY (`cod_clima`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `trabalho_praticoi`.`bebida`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `trabalho_praticoi`.`bebida` (
  `cod_bebida` INT NOT NULL AUTO_INCREMENT,
  `bebida` VARCHAR(45) NULL,
  PRIMARY KEY (`cod_bebida`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `trabalho_praticoi`.`hobbie`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `trabalho_praticoi`.`hobbie` (
  `cod_hobbie` INT NOT NULL,
  `hobbie` VARCHAR(45) NULL,
  PRIMARY KEY (`cod_hobbie`))
ENGINE = InnoDB;


-- -----------------------------------------------------
-- Table `trabalho_praticoi`.`pesquisa`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `trabalho_praticoi`.`pesquisa` (
  `cod_pesquisa` INT NOT NULL AUTO_INCREMENT,
  `data_pesquisa` DATE NULL,
  `cod_pessoa` INT NOT NULL,
  `cod_animal_estimacao` INT NOT NULL,
  `cod_clima` INT NOT NULL,
  `cod_bebida` INT NOT NULL,
  `cod_hobbie` INT NOT NULL,
  PRIMARY KEY (`cod_pesquisa`),
  UNIQUE INDEX `cod_pesquisa_UNIQUE` (`cod_pesquisa` ASC) VISIBLE,
  INDEX `fk_pesquisa_pessoa_idx` (`cod_pessoa` ASC) VISIBLE,
  INDEX `fk_pesquisa_animal_estimacao1_idx` (`cod_animal_estimacao` ASC) VISIBLE,
  INDEX `fk_pesquisa_clima1_idx` (`cod_clima` ASC) VISIBLE,
  INDEX `fk_pesquisa_bebida1_idx` (`cod_bebida` ASC) VISIBLE,
  INDEX `fk_pesquisa_hobbie1_idx` (`cod_hobbie` ASC) VISIBLE,
  CONSTRAINT `fk_pesquisa_pessoa`
    FOREIGN KEY (`cod_pessoa`)
    REFERENCES `trabalho_praticoi`.`pessoa` (`cod_pessoa`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_pesquisa_animal_estimacao1`
    FOREIGN KEY (`cod_animal_estimacao`)
    REFERENCES `trabalho_praticoi`.`animal_estimacao` (`cod_animal_estimacao`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_pesquisa_clima1`
    FOREIGN KEY (`cod_clima`)
    REFERENCES `trabalho_praticoi`.`clima` (`cod_clima`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_pesquisa_bebida1`
    FOREIGN KEY (`cod_bebida`)
    REFERENCES `trabalho_praticoi`.`bebida` (`cod_bebida`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `fk_pesquisa_hobbie1`
    FOREIGN KEY (`cod_hobbie`)
    REFERENCES `trabalho_praticoi`.`hobbie` (`cod_hobbie`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

# Inserindo os dados coletados em csv na estrutura criada no MySQL;

In [27]:
# Importando os pacotes necessário para trabalhar com banco de dados
import MySQLdb
import sqlalchemy

In [54]:
# Criando conexão com o banco
user = 'root'
password = 'pqpmgp1oM'
host = 'localhost'
database = 'trabalho_praticoi'

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao

'mysql://root:pqpmgp1oM@localhost/trabalho_praticoi'

In [55]:
# Realizando a conexão
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

# Criando os dataframes

<img src="entidade_relacionamento.PNG">

In [51]:
df_pessoas = df_pref[['cod_pessoa', 'genero', 'data_nascimento']].drop_duplicates()
df_animal_estimacao = list(df_pref.animal_estimacao.unique())
df_bebida = list(df_pref.bebida_favorita.unique())
df_hobbie = list(df_pref.hobbies.unique())
df_clima = list(df_pref.clima.unique())

In [52]:
print(df_pessoas[:5])
print(df_animal_estimacao)
print(df_bebida)
print(df_hobbie)
print(df_clima)

   cod_pessoa     genero data_nascimento
0    10141743  Masculino      1981-04-25
1    10141860   Feminino      1966-01-19
2    10142548  Masculino      1973-08-02
3    10142591  Masculino      1997-03-05
4    10142654   Feminino      1969-08-05
['peixe', 'tartaruga', 'gato', 'cachorro']
['Cerveja', 'Café', 'refrigerante', 'Água', 'Vinho', 'Chá']
['Praticar esporte', 'Assistir TV', 'Ler livros', 'Aprender algo novo', 'Escrever', 'Pintar quadros', 'Dormir', 'Escutar música']
['frio', 'quente', 'moderado']

# Inserindo os dados no banco de dados MySQL

In [ ]:
# Inserindo os dados na tabela pessoa
for pessoa in df_pessoas.itertuples():
    cod_pessoa = pessoa.cod_pessoa
    genero = pessoa.genero
    data_nascimento = str(pessoa.data_nascimento)
    try:
        query = f"""insert into pessoa (cod_pessoa, genero, data_nascimento ) 
                     values ('{cod_pessoa}', '{genero}', '{data_nascimento}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {cod_pessoa}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {cod_pessoa}. O erro foi encontrado foi: {e}")

In [53]:
# Inserindo os dados na tabela animal_estimacao
for animal in df_animal_estimacao:
    try:
        query = f"""insert into animal_estimacao (animal) 
                     values ('{animal}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {animal}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {animal}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: peixe
Registro inserido com sucesso: tartaruga
Registro inserido com sucesso: gato
Registro inserido com sucesso: cachorro

In [54]:
# Inserindo os dados na tabela bebida
for bebida in df_bebida:
    try:
        query = f"""insert into bebida (bebida) 
                     values ('{bebida}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {bebida}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {bebida}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Cerveja
Registro inserido com sucesso: Café
Registro inserido com sucesso: refrigerante
Registro inserido com sucesso: Água
Registro inserido com sucesso: Vinho
Registro inserido com sucesso: Chá

In [57]:
# Inserindo os dados na tabela animal_estimacao
for clima in df_clima:
    try:
        query = f"""insert into clima (clima) 
                     values ('{clima}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {clima}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {clima}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: frio
Registro inserido com sucesso: quente
Registro inserido com sucesso: moderado

In [59]:
# Inserindo os dados na tabela animal_estimacao
for hobbie in df_hobbie:
    try:
        query = f"""insert into hobbie (hobbie) 
                     values ('{hobbie}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {hobbie}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {hobbie}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Praticar esporte
Registro inserido com sucesso: Assistir TV
Registro inserido com sucesso: Ler livros
Registro inserido com sucesso: Aprender algo novo
Registro inserido com sucesso: Escrever
Registro inserido com sucesso: Pintar quadros
Registro inserido com sucesso: Dormir
Registro inserido com sucesso: Escutar música

In [53]:
# Criando uma tabela staging no banco SQL para popular a tabela pesquisa através do MySQL
df_pref.to_sql('stg_pesquisa', con=conn, schema='trabalho_praticoi')

In [62]:
# Populando a tabela pesquisa através de linguagem SQL no Python

query = f"""insert into pesquisa (data_pesquisa, cod_pessoa, cod_animal_estimacao, cod_clima, cod_bebida, cod_hobbie) 
                (
                select
                    stg.data_pesquisa,
                    p.cod_pessoa,
                    ae.cod_animal_estimacao,
                    c.cod_clima,
                    b.cod_bebida,
                    h.cod_hobbie              
                from stg_pesquisa stg
                    inner join animal_estimacao ae
                    on stg.animal_estimacao = ae.animal
                    inner join bebida b
                    on stg.bebida_favorita = b.bebida
                    inner join clima c
                    on stg.clima = c.clima
                    inner join hobbie h
                    on stg.hobbies = h.hobbie
                    inner join pessoa p
                    on stg.cod_pessoa = p.cod_pessoa              
                )
                      
            """      
conn.execute(query)